.sectionTitle {
	background-color: var(--color-bg-light);
	filter: opacity(0.9);
	height: 10rem;
	margin-top: 0;
	position: relative;
	z-index: 1;
}

.contentWrapper {
	min-height: calc(100vh - 220px);
}

.titleLine {
	height: 0.8rem;
	background-color: var(--color-primary-light);
	width: 100%;
	position: absolute;
	top: 60%;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-bottom: 6.4rem;
	padding-bottom: 2.5rem;
}

.title {
	margin-top: -6.8rem;
	margin-left: 10vw;
	margin-right: 10vw;

	width: 80vw;
	max-width: 1100px;

	z-index: 5;
}

.container {
	display: flex;
	justify-content: space-between;
	margin-left: 10vw;
	margin-right: 10vw;

	width: 80vw;
	max-width: 1100px;
}

.info {
	display: flex;
	flex-direction: column;
	width: 320px;
	/* width: 40%; */
}

.contact {
	margin-top: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 4rem;
}

.infoText {
	margin-right: 2rem;
}

.infoText p {
	text-indent: 0;
}

.info .name {
	margin: 0 0 0.5rem 0;

	font-weight: bolder;
	font-size: 2rem;
}

.info .occupation {
	margin: 0;
	font-style: italic;
	font-weight: lighter;
	font-size: 1.6rem;
}

.socialIcon {
	height: 25px;
	width: 25px;
}

.socialIcon:hover {
	transform: scale(1.1);
}

.image {
	overflow: hidden;
	width: 50vw;
	height: 60vh;

	margin-left: 5rem;
	margin-top: -4rem;

	z-index: 3;

	/* background: url('../../public/images/interbatuc1.png');
	background-position: center;
	background-size: cover; */

	/* width: 100%; */
	/* height: 100%; */
	object-fit: cover;
}

@media (max-width: 768px) {
	.image {
		display: none;
	}

	.contact {
		width: 100%;
	}
}
