.sectionTitle {
	background-color: var(--color-bg-light);
	filter: opacity(0.9);
	height: 10rem;
	margin-top: 0;
	position: relative;
	/* z-index: 1; */
}

.contentWrapper {
	min-height: calc(100vh - 220px);
}

.titleLine {
	height: 0.8rem;
	background-color: var(--color-primary-light);
	width: 100%;
	position: absolute;
	top: 60%;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	padding-bottom: 2.5rem;
}

.title {
	margin: 0;
	margin-top: -6.8rem;
	/* margin-left: 10vw; */
}

.container {
	display: flex;
	justify-content: space-between;
	margin-left: 10vw;
	margin-right: 10vw;
	max-width: 1100px;
}

.image {
	overflow: hidden;
	width: 45%;
	height: 50rem;
	max-width: 450px;
	z-index: 0;
	width: 100%;

	object-fit: cover;
	position: relative;
	padding-right: 5rem;
	top: -1.5rem;
}

.text {
	width: 50%;
}

.buttonsArea {
	width: 100%;
	justify-content: center;
	margin: 2.4rem 0;

	display: grid;
	grid-template-columns: repeat(3, auto);

	grid-gap: 1.6rem;
	align-items: center;
}

.buttonsArea a {
	padding: 0.8rem;
	color: var(--color-white);
	text-decoration: none;
	font-size: 1.6rem;
	text-align: center;
	border-radius: 10px;
	border-color: var(--color-primary);
	background-color: var(--color-primary-light);
	border: 2px solid var(--color-primary);

	height: 4.8rem;
	width: 10.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonsArea button {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	height: 4.8rem;
	width: 10.5rem;
}

.buttonsArea a:hover {
	background-color: var(--color-primary-light-hover);
}

.line {
	background-color: var(--color-primary-light);
	width: 100%;
	height: 0.8rem;
}

.inviteToWatch {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	padding-left: 10vw;
	padding-right: 10vw;
	text-indent: 0;
	min-width: 256px;
	/* min-height: 139px; */
}

.videoCarousel {
	height: 100px;
}

.videoWrapper {
	padding: 0 10vw;
	margin-bottom: 1rem;

	display: flex;
	justify-content: center;
	background: linear-gradient(
		180deg,
		var(--color-bg) 30%,
		var(--color-bg-light) 30%,
		var(--color-bg-light) 40%,
		var(--color-primary-light) 40%,
		var(--color-primary-light) 60%,
		var(--color-bg-light) 60%,
		var(--color-bg-light) 70%,
		var(--color-bg) 70%
	);
}

.videoWrapper iframe {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: none;
	border-radius: 8px;
}

.videoDescription p {
	max-width: 780px;
}

.videoContainer {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;

	min-width: 256px;
	min-height: 139px;

	max-width: 800px;
	max-height: 450px;
}

.video {
	position: absolute;
	width: 100%;
	height: 100%;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: none;
	border-radius: 8px;
}
.socialIcon {
	transition: 0.1s;
}

.socialIcon:hover {
	transform: scale(1.1);
}

.videoDescription p {
	width: calc(80vw - 40px);
	margin-bottom: 2rem;
}

@media (min-width: 1024px) {
	.videoContainer {
		padding-bottom: 463.5px;
	}
}

@media (max-width: 768px) {
	.image {
		display: none;
	}

	.text {
		width: 80vw;
	}

	.buttonsArea a {
		width: 10rem;
	}
}

@media (max-width: 425px) {
	/* :root {
		font-size: 52%;
	} */
}
