@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

:root {
	font-size: 62.5%;

	--color-bg: #ffebb7;
	--color-bg-light: #fff5da;

	--color-primary: #041e7a;
	--color-primary-light: #8fbadb;
	--color-primary-light-hover: #94b2c9;

	--color-secondary: #ffc90b;

	--color-black: #000000;
	--color-white: #ffffff;
	--color-white-transparent: #ffffffaa;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--color-bg);
	box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
	font-family: Staatliches;
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 4rem;
}

p,
a {
	font-family: 'Carrois Gothic', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	font-family: Staatliches;
}

* {
	box-sizing: border-box;
}

.footerSocialIcons {
	color: var(--color-bg);
	width: 32px;
}

.footerSocialIcons:hover {
	filter: brightness(70%);
}

@media (max-width: 768px) {
	:root {
		font-size: 57%;
	}
}

@media (max-width: 425px) {
	:root {
		font-size: 52%;
	}
}

/* Dropdown da versão mobile */

#page-wrap {
	text-align: center;
	overflow: auto;
	/* top: 45%; */
	position: relative;
}

.bm-item {
	display: flex;
	flex-direction: column;

	/* Our sidebar item styling */
	text-decoration: none;
	margin-bottom: 10px;
	color: #d1d1d1;
	transition: color 0.2s;
}

.bm-item:hover {
	color: white;
}

.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	top: 25px;
	right: 16px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: var(--color-secondary);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 3rem !important;
	width: 3rem !important;
	right: 16px !important;
}

/* Color/shape of close button cross */
.bm-cross {
	background: var(--color-primary);
	height: 24px !important;
}

/* General sidebar styles */
.bm-menu {
	background: var(--color-bg);
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

.bm-menu-wrap {
	top: 0;
}

.bm-overlay {
	top: 0;
	right: 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: var(--color-bg);
}

/* Wrapper for item list */
.bm-item-list {
	color: var(--color-primary);
	font-size: 4.8rem;
	line-height: 150%;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: #8fbadb;
	border: 16px none #ffffff;
}
::-webkit-scrollbar-thumb:hover {
	background: #8fbadb;
}
::-webkit-scrollbar-thumb:active {
	background: #8fbadb;
}
::-webkit-scrollbar-track {
	background: #fff5da;
	border: 0px none #ffffff;
	border-radius: 54px;
}
::-webkit-scrollbar-track:hover {
	background: #fff5da;
}
::-webkit-scrollbar-track:active {
	background: #fff5da;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
