.rightArrow,
.leftArrow {
	position: absolute;
	z-index: 2;
	top: calc(50% - 15px);

	cursor: pointer;

	border: none;
	border-radius: 50%;

	background: none;
	color: var(--color-secondary);
}

.rightArrow:hover,
.leftArrow:hover {
	opacity: 0.7;
}

.rightArrow {
	right: 10px;
}

.leftArrow {
	left: 10px;
}

.legendCarousel {
	color: var(--color-white);
	z-index: 1;
	position: absolute;
	width: 60vw;
	margin: 10vw;
	max-width: 500px;
}

.carouselImage {
	height: 100%;
	width: 100vw !important;
	object-fit: cover;
}

.legendCarousel h1 {
	font-size: 6.4rem;
	margin-bottom: 2.4rem;
}

.legendCarousel > p {
	text-align: left;
}
.legendButton {
	text-decoration: underline;
	font-size: 2.4rem;
	line-height: 150%;

	color: var(--color-secondary);
	transition: 0.3s;
}
.legendButton:hover {
	color: var(--color-white);
}

.carouselItem {
	display: flex;
	align-items: center;
	justify-content: center;

	height: calc(100vh - 120px - 80px);
}

@media (max-width: 768px) {
	.carouselItem {
		height: calc(100vh - 80px - 140px);
		width: 100vw;
	}
}
